name: Build Test

on:
  pull_request:
    branches:
      - master

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: pnpm/action-setup@v4
        with:
          node-version: "10"
          cache: true

      - name: Install dependencies
        run: pnpm install

      - name: Build the project
        run: npm run build
